.bg-primary {
  background-color: var(--primary-color);
  color: var(--light-color);
}

.bg-secondary {
  background-color: var(--secondary-color);
}

.bg-tertiary {
  background-color: var(--tertiary-color);
}

.bg-dark {
  background-color: var(--dark-color);
  color: var(--light-color);
}

.bg-light {
  background-color: var(--light-color);
  color: var(--dark-color);
}

.bg-black {
  background-color: var(--black);
  color: var(--light-color);
}

.bg-white {
  background-color: var(--white);
}

.bg-info {
  background-color: var(--info-color);
}

.bg-info-light {
  background-color: var(--info-color-light);
}

.bg-info-dark {
  background-color: var(--info-color-dark);
}

.bg-success {
  background-color: var(--success-color);
}

.bg-success-light {
  background-color: var(--success-color-light);
}

.bg-success-dark {
  background-color: var(--success-color-dark);
}

.bg-warning {
  background-color: var(--warning-color);
}

.bg-warning-light {
  background-color: var(--warning-color-light);
}

.bg-warning-dark {
  background-color: var(--warning-color-dark);
  color: var(--light-color);
}

.bg-danger {
  background-color: var(--danger-color);
  color: var(--light-color);
}

.bg-danger-light {
  background-color: var(--danger-color-light);
}

.bg-danger-dark {
  background-color: var(--danger-color-dark);
  color: var(--light-color);
}

.bg-backdrop {
  background-color: var(--backdrop-color);
}

.bg-shim {
  background-color: var(--shim-color);
}

.bg-shim-light {
  background-color: var(--shim-color);
}
