.card {
  display: flex;
  flex-direction: column;
  border: solid var(--lighter-grey) thin;
  box-shadow: var(--box-shadow-sm);
  position: relative;
  border-radius: var(--spacing-1);
  --card-padding: 0.5em;

  & .card-header {
    padding: var(--card-padding);
  }

  & .card-title {
    margin-bottom: 0;
  }

  & .card-image {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
  }

  & .card-body {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    font-size: var(--size-3);
    padding: var(--card-padding);
  }

  & .card-footer {
    display: flex;
    justify-content: flex-end;
    padding: var(--card-padding);
    align-items: center;
    margin-top: auto;
  }
}
